---
title: Community

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
position: 6

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

editable_elements:
  content/info: <small>While we make every effort to ensure this information is correct,
    we aren't always informed when the details of these activities change.  Please
    speak direcly to the organisation or activity leader for the latest information.</small>
  content/body: ''
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Community
    .info
      {% editable_text info %}
      %small While we make every effort to ensure this information is correct, we aren't always informed when the details of these activities change.  Please speak direcly to the organisation or activity leader for the latest information.
      {% endeditable_text %}
    
    {% editable_text body %}
    {% endeditable_text %}
    {% with_scope category: 'Community' %}

    {% for activity in contents.activities %}

    .listing
      %a{ href: "community/{{ activity._slug }}" }
        %h3 {{ activity.name | escape }}
      {% if activity.age != "" %}
      %small {{ activity.age | escape }}
      {% endif %}
      {% if activity.logo.url %}
      .room-image
        %a{ href: "community/{{ activity._slug }}" }
          %img{ src: "{{ activity.logo.url | resize: '320x180#' }}", width: "320", height: "180" }
      {% endif %}
      %p {{ activity.teaser | escape }}

    {% endfor %}

    {% endwith_scope %}

{% endblock %} 
