%header
  .header-top
    .service-times
      %h3 Service times
      %ul.info
        {% with_scope regular: true %}
        {% for service in contents.services %}
        %li
          {% link_to service %}
          {% if service.time != blank %}{{ service.time }}{% else %}{{ service.abriviated_name }}{% endif %}
          {% endlink_to %}
        {% endfor %}
        {% endwith_scope %}
    .location
      %h3 Location
      %a.info{ href: "{% path_to contact %}" }
        {{ site.metafields.footer.address }}
    %a.login{ href: "https://login.allsaints.church" }
      %h3 Login
      .info.link{ href: "https://login.allsaints.church" }
        Login
    .hamburger
      %input#spinner-form4{ type: "checkbox" }
      %label.spinner-spin4{ for: "spinner-form4" }
        %span.spinner4.diagonal.part-1
        %span.spinner4.horizontal
        %span.spinner4.diagonal.part-2

  .logo
    {% link_to site.index %}
    %img{src: "{{ 'logo.svg' | theme_image_url }}", alt: "{{ site.name }} logo", width: 140, height: 105 }
    {% endlink_to %}
    %h1
      %span.bold All Saints
      Church
    %h2
      %span.bold Hoole
      Chester

  {% include 'nav' %}

  {% if site.metafields.header.info %}
  .info-banner
    %p
      {% if site.metafields.header.info_link %}
      %a{ href: "{{ site.metafields.header.info_link }}" } {{ site.metafields.header.info | escape }}
      {% else %}
      {{ site.metafields.header.info | escape }}
      {% endif %}
  {% endif %}
  {% if site.index.fullpath != page.fullpath %}
  .breadcrumbs
    {% link_to page.breadcrumbs.first %}
    {{ page.breadcrumbs.first.title | escape }}
    {% endlink_to %}
    {% for page in page.breadcrumbs offset: 1 %}
    >
    {% link_to page %}
    {{ page.title | escape }}
    {% endlink_to %}
    {% endfor %}
  {% endif %}