%nav
  %ul
    {% if site.index.fullpath == page.fullpath %}
    %li.active
      %a Home
    {% else %}
    %li
      %a{ href: "/" } Home
    {% endif %}
    {% nav 'index', depth: 3, active_class: 'active', no_wrapper: true %}