.hamburger
  %input#spinner-form4{ type: "checkbox" }
  %label.spinner-spin4{ for: "spinner-form4" }
    .spinner4.diagonal.part-1
    .spinner4.horizontal
    .spinner4.diagonal.part-2
%nav
  %ul
    {% nav 'index', depth: 3, active_class: 'active', no_wrapper: true %}