---
title: Baptism
listed: true
published: true
position: 4
editable_elements:
  content/body: "<p>If you are considering baptism or thanksgiving for your child
    our vicar John Kirkland will be happy to come and visit you in order to explain
    the different services and answer your questions.</p>\r\n<p>Get in touch with
    the <a href=\"/contact\">church office</a> to make an appointment.</p>"

---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Baptism
    {% editable_text body %}
    {% endeditable_text %}
{% endblock %}
