---
title: Baptism
listed: true
published: true
position: 4
editable_elements:
  content/body: "<p>We offer two different services for\r\nbabies and young children
    – Thanksgiving for the Gift of a Child and Baptism.\r\n</p>\r\n<h3>Thanksgiving</h3>\r\n<p>Thanksgiving
    is an opportunity to say thank you to a Creator God for the\r\nwonderful gift
    of a child without having to make promises we may not be able to\r\nkeep or statements
    which we may not be sure we believe. For many people today\r\nthat fits with where
    they are on their spiritual journey.\r\n</p>\r\n<h3>Baptism</h3>\r\n<p>In Baptism
    we make\r\npromises about bringing our children up as part of the church family
    and we\r\nstate our own faith in and commitment to Jesus Christ.</p>\r\n<p>We
    also have a baptistery at All Saints\r\nand we are always delighted to baptise
    older children and adults by immersion.</p>\r\n<h3>Find out more</h3>\r\n<p>Our
    vicar <a href=\"/about/people/john-kirkland\">John Kirkland</a> will be happy
    to come\r\nand visit you in order to explain the different services and answer
    your\r\nquestions.</p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Baptism
    {% editable_text body %}
    {% endeditable_text %}
{% endblock %}
