---
title: Baptism
listed: true
published: true
position: 4
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Baptism
    {% editable_text body %}
    {% endeditable_text %}
{% endblock %}
