---
title: Christianity
listed: true
published: true
position: 1
editable_elements:
  content/body: "<h3>What is a Christian?</h3>\r\n\r\n<p>Christianity is often thought
    of as a cultural thing, something you grow up with, or something that is about
    tradition, and not always something which is real.</p>\r\n\r\n<p>For us, Christianity
    could be described as a living relationship between each of us and God. We have
    moved from knowing about God distantly to knowing him personally and directly
    through the person of Jesus Christ.</p>\r\n\r\n<h3>Exploring Faith</h3>\r\n\r\n<p>If
    you are new to the Christian faith, or still considering whether you want to be
    part of it, you will probably have lots of questions. We believe that Christianity
    stands up to rigorous questioning yet also levels questions at us and we want
    to explore that faith with you so that we may understand and grow in faith.</p>\r\n\r\n<p>At
    All Saints we run the <a href=\"/alpha\">Alpha course</a> to give you a forum
    to ask questions or to help you refresh your own convictions. Our Alpha team is
    always ready to run courses and will talk with you about the day, time and number
    of weeks the course will run for.</p>\r\n\r\n<p>We aim to treat all questions
    with respect and welcome honest and blunt questions – we are not easily offended!</p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Christianity
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
