---
title: Christianity
listed: true
published: true
position: 1
editable_elements:
  content/body: "<h3>What is a Christian?</h3>\r\n<p>Christianity is often thought
    of as a cultural thing, something you grow up with or something that is more along
    the lines of tradition and not always something which is real - rather something
    that is personal and subjective.</p>\r\n<p>For us Christianity could be described
    as a living relationship between each of us and God. We have moved from knowing
    about God distantly, to knowing him personally and directly through the person
    of Jesus Christ.</p>\r\n<p>If you are new to the Christian faith, or still considering
    whether you want to be part of it, you will probably have lots of questions. We
    believe that Christianity does stand up to rigorous questioning yet also levels
    questions at us – but we’re here to help you understand more and develop your
    faith.</p>\r\n<h3>Exploring Faith</h3>\r\n<p>At All Saints we run the <a href=\"https://allsaints.church/alpha\">Alpha
    course</a> every term to give you a forum to ask questions or to help you refresh
    your own convictions. Over seven weeks we enjoy a meal together, followed by a
    short talk, after which we break into much smaller groups for coffee and discussion.</p>\r\n<p>We
    aim to treat all questions with respect and welcome honest and blunt questions
    – we are not easily offended!</p>\r\n<h3>Our welcome</h3>\r\n<p>We want you to
    feel part of things as quickly as possible and would love to invite you to our
    Welcome lunches or suppers.</p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Christianity
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
