---
title: Our Vision
listed: true
published: true
position: 1
editable_elements:
  content/body: "<p>At All Saints we have a number of values which we seek to live
    by in all that we do as a church.</p>\r\n<h3>All involved</h3>\r\n<p>We don’t
    believe that ministry is the work of just a few people but want to see every member
    fully involved in serving the Lord. We want to help each other to discover our
    unique gifts and use them to the full.</p>\r\n<h3>Being disciples</h3>\r\n<p>We
    believe that God’s purpose for all people is that they should become more like
    Jesus Christ. Through preaching from the Bible, home groups and other activities
    we encourage each other to discover God’s will for our lives, grow in faith and
    be changed into Christ’s likeness. We have a full programme of activities for
    children and young people which seek to help them begin to follow Jesus for themselves.</p>\r\n<h3>Creating
    community</h3>\r\n<p>We take seriously Jesus’ command to love another, and we
    recognise the importance of our relationships in the church family. Although it
    is hard to relate deeply to lots of people in a relatively large congregation,
    we seek to care for, support and help one another in small groups of about 10-12
    people. These small groups, also known as home groups, are at the heart of our
    church life. Food also plays a big part in our life together!</p>\r\n<h3>Doing
    evangelism</h3>\r\n<p>We believe that we have been given the most wonderful news
    in the world, but that we must not keep this to ourselves. We want to help everyone
    to discover the joy of a relationship with God and we offer lots of ways to do
    this. We run Alpha each term, in partnership with other local churches, and we
    also run a monthly Messy Church which provides a church for those who find that
    traditional ways of 'doing church' are not for them.</p>\r\n<h3>Encountering God</h3>\r\n<p>We
    seek to meet with God as we come together on Sundays and during the different
    times of corporate prayer which we hold during the week. We want to give time
    to be in God’s presence and to listen to his voice. We believe that the purpose
    for which we are made is to know God and to enjoy him forever.</p>\r\n<h3>In 5
    years time:</h3>\r\n<p>Our vision for All Saints’ in 5 years time is that we shall
    be a church which</p>\r\n<ul>\r\n<li><p>faithfully listens to the Word, where
    the Word challenges the church, and where people meet with the Lord Jesus</p></li>\r\n<li><p>reaches
    out more effectively to the whole community of Hoole, is known for its empathetic
    witness, and is seen as a beacon that radiates the love of Jesus in its mission
    and evangelism</p></li>\r\n<li><p>continues to grow through prayerfully carrying
    out God’s work and developing a deepening awareness of the guidance of the Holy
    Spirit</p></li>\r\n<li><p>rapidly incorporates both new Christians and people
    new to the church that goes beyond a warm initial welcome to integrate people
    fully into the church family, and that encourages all members to discover and
    use their gifts</p></li>\r\n<li><p>nurtures the church family to be effective
    disciples, and has an effective pastoral care system that cares for all who are
    in need</p></li>\r\n<li><p>is prepared to explore new ways of being church, and
    where the corporate worship is increasingly open to the Holy Spirit.</p></li>\r\n<li><p>strives
    to maintain unity in every aspect of church life in order to honour God and increase
    our effectiveness as witnesses of the gospel</p></li>\r\n<li><p>manifestly accepts
    God’s forgiveness and His sovereignty over all.</p></li>\r\n</ul>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Our Vision
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
