---
title: Our Vision
listed: true
published: true
position: 1
editable_elements:
  content/body: "<p>We believe that <em>God loved the world so much that he gave his
    only Son, Jesus Christ,\r\nthat whoever believes in him shall not perish but have
    eternal life.</em>. This is our foundational belief and\r\nunderlies everything
    we do at All Saints.</p>\r\n\r\n<h3>Our Motivation</h3>\r\n\r\n<p>We want to bring
    glory to God in every area of our lives because of who he is and what he’s done
    for us.</p>\r\n\r\n<h3>Our Mission</h3>\r\n\r\n<p>We want to make Jesus known
    through our words and our deeds because we believe that Jesus is good news for
    everyone. We seek to do this in our everyday lives: at work, in the community
    and at home.\r\n</p>\r\n\r\n<h3>Our Maturity</h3>\r\n\r\n<p>We want to become
    more like Jesus in every area of our lives, helping each other to grow as followers
    of Jesus.</p>\r\n\r\n<h3>Our Membership</h3>\r\n\r\n<p>We want to love one another
    from our hearts, demonstrating the kind of love that God has for us in the way
    we relate to each other.</p>\r\n\r\n<h3>Our Ministry</h3>\r\n\r\n<p>We want every
    member of All Saints to be actively involved in serving others, using the gifts
    which God has given each of us.\r\n</p>\r\n\r\n<p>We can sum this up by saying
    that we want\r\nto <strong>Live with Jesus, like Jesus and for\r\nJesus.</strong></p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Our Vision
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
