---
title: Wedding
listed: true
published: true
position: 5
editable_elements:
  content/body: "<p>In addition to wedding ceremonies, we also offer services for
    those who would like a service of prayer and dedication – often called a ‘blessing’
    – after a civil marriage; or a special service to renew your vows.</p>\r\n<p>For
    any questions relating to weddings or blessings please contact our Vicar John
    Kirkland to make an appointment. In this meeting he will answer any questions
    you have, discuss possible dates and take the necessary details to begin planning
    your wedding at All Saints.</p>\r\n<p>If you’re getting married here, we’d also
    like to offer you the chance to attend one of our marriage preparation sessions.</p>\r\n<p>The
    City of Chester Male Voice Choir offer a wedding programme and are available to
    sing on weekdays as well as weekends. <a href=\"http://www.chestermalevoice.com/\">http://www.chestermalevoice.com/</a></p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Wedding
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
