---
title: About

listed: true
published: true
position: 1

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

editable_elements:
  content/body: "<p>We are an active, lively and growing parish church, made up of
    people \r\nof all ages, which seeks to serve the local community of Hoole – so
    we \r\nhope our website gives you a good insight into what we do.</p>\r\n\r\n<p>Our
    aim is to help people explore and grow in a relationship with Jesus\r\n Christ,
    deepen their love for one another and be equipped to serve in \r\nevery area of
    their lives.</p>\r\n\r\n<p>We offer a variety of services on a Sunday and have
    a wide range of activities for all ages during the week.</p>\r\n\r\n<p>We believe
    that small groups, meeting in people’s homes and in the \r\nchurch centre, are
    at the heart of church life and we also run Alpha \r\nregularly for those who
    want to explore the Christian faith. Many find \r\nthis a great way into the life
    of the church.<br></p>\r\n\r\n<p>We hope that you will feel welcome at All Saints
    and look forward to getting to know you better.</p>\r\n\r\n<p>John</p>\r\n\r\n<p><a
    rel=\"nofollow\" href=\"/about/people/john-kirkland\">John Kirkland, Vicar of
    All Saints’ Hoole</a></p>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/default' %}

{% block content %}
%section
  %div
    %h2 About
    {% editable_text body %}
    %p Content comming soon
    {% endeditable_text %}

{% endblock %}
