---
title: Contact

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
position: 4

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
handle: contact

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

editable_elements:
  content/header/background: /samples/pages/contact-bg.jpg
  content/header/subheading: Lorem ipsum
  content/main/instructions: <p>Want to get in touch with me? Fill out the form below
    to send me a message and I will try to get back to you within 24 hours!</p>
  content/body: "<p>All Saints Church is on Hoole Road in Chester, however the entrance
    to the Church Centre is on Vicarage Road.</p>\r\n\r\n<h3>Postal address:</h3>\r\n<p>All
    Saints Church<br>\r\n2 Vicarage Road<br>\r\nHoole<br>\r\nChester<br>\r\nCH2 3HZ</p>\r\n\r\n<h3>Church
    Office</h3>\r\n<p>Tel: 01244 322056</p>\r\n<p>Email: <a target=\"_blank\" href=\"mailto:office@allsaints.church\">office@allsaints.church</a></p>\r\n<p>\r\nOpening
    hours:\r\n</p><ul>\r\n<li>Monday 9.00am – 3.00pm</li>\r\n<li>Tuesday 9.00am –
    3.00pm</li>\r\n<li>Wednesday 9.00am – 3.00pm</li>\r\n<li>Thursday 9.00am – 3.00pm</li>\r\n<li>Friday
    9.00am – 3.00pm</li>\r\n</ul>\r\n<p></p>\r\n\r\n<h3>Church Centre</h3>\r\n<p>Tel:
    01244 345649</p>\r\n<p>Email:&nbsp;<a target=\"_blank\" href=\"mailto:centre@allsaints.church\"
    title=\"Link: mailto:centre@allsaints.church\">centre@allsaints.church</a>\r\n</p>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/default' %}

{% block content %}

%section
  %div
    %h2 Contact
    {% editable_text body %}
    %p Content comming soon
    {% endeditable_text %}

{% endblock %}
