---
title: Home
published: true
handle: home
editable_elements:
  content/header/background: /samples/assets/home-bg.jpg
  content/header/subheading: Lorem ipsum
---
{% extends 'layouts/vision-statement' %}

{% block content/main %}
%section.sunday-services
  %div
    %h2.center Sunday Services
    %ul.center
      {% with_scope regular: true, frequency: 'Weekly' %}
      {% if contents.services.size > 0 %}
      %li
        Weekly
        %ul
          {% for service in contents.services %}
          %li
            %a.btn.btn-outline{ href: "{% path_to service %}" }
              {{ service.time }}
          {% endfor %}
      {% endif %}
      {% endwith_scope %}

      {% with_scope regular: true, frequency: 'Monthly' %}
      {% if contents.services.size > 0 %}
      %li
        Monthly
        %ul
          {% for service in contents.services %}
          %li
            %a.btn.btn-outline{ href: "{% path_to service %}" }
              {{ service.time }}
          {% endfor %}
      {% endif %}
      {% endwith_scope %}
    {% with_scope regular: true, frequency: 'Other' %}
    {% if contents.services.size > 0 %}
    %ul.center
      %li
        Other Services
        %ul
          {% for service in contents.services %}
          %li
            %a.btn.btn-outline{ href: "{% path_to service %}" }
              {{ service.abriviated_name }}
          {% endfor %}
    {% endif %}
    {% endwith_scope %}
    %p.center.space
      {% link_to services %}
      /.btn
      rest of week
      %span.arrow &#8964;
      {% endlink_to %}

%section.twitter
  %div
    %a.twitter-follow{ href: "https://twitter.com/intent/follow?screen_name=allsaintshoole", target: "_blank" }
      %h2
        %span.twitter-logo twitter
        %span.twitter-follow-text follow us
    #tweets
      %p.loading loading latest tweets...
    .right
      %a{ href: "http://twitter.com/allsaintshoole" } view more on twitter &gt;

%section.downloads
  %div
    %h2 Downloads
    .sermon.left
      {% link_to contents.sermons.first %}
      %h3 {{ contents.sermons.first.title | escape }}
      {% endlink_to %}
      {% link_to contents.sermons.first.series %}
      %small {{ contents.sermons.first.series.name | escape }}
      {% endlink_to %}
      %p {{ contents.sermons.first.person.name | escape }}
      %p {{ contents.sermons.first.bible_verse | escape }}
      %small
        %time{ datetime: "{{ contents.sermons.first.date | date: '%FT%T%z' }}" }
          {{ contents.sermons.first.date | distance_of_time_in_words: now }} ago
      %p
        %a.btn.btn-outline{ href: "{% path_to contents.sermons.first %}" }
          View sermon
        {% if contents.sermons.first.series.handbook.url %}
        %a.btn{ href: "{{ contents.sermons.first.series.handbook.url }}" }
          Series handbook
        {% endif %}
    .right.right-align
      %h3 Older
      .sermon
        {% with_scope order_by: 'date.desc' %}
        {% for sermon in contents.sermons limit:1 offset:1 %}
        {% link_to sermon %}
        %h4 {{ sermon.title | escape }}
        {% endlink_to %}
        {% link_to sermon.series %}
        %small {{ sermon.series.name | escape }}
        {% endlink_to %}
        %p {{ sermon.person.name | escape }}
        %small
          %time{ datetime: "{{ sermon.date | date: '%FT%T%z' }}" }
            {{ sermon.date | distance_of_time_in_words: now }} ago
        {% endfor %}
        {% endwith_scope %}
      %a.btn.btn-nosides{ href: "{% path_to sermons %}" }
        show all &gt;

%section.quick-links
  %div
    %h2 Quick Links
    %ul.icon-list
      %li
        %a{ href: "/baptism" }
          <img src="{{ 'icons/cross.svg' | theme_image_url }}" alt="Cross" width="80" height="80">
          %h3 Baptism
      %li
        %a{ href: "/wedding" }
          <img src="{{ 'icons/ring.svg' | theme_image_url }}" alt="Wedding ring" width="80" height="80">
          %h3 Wedding
      %li
        %a{ href: "/funeral" }
          <img src="{{ 'icons/grave.svg' | theme_image_url }}" alt="Gravestone" width="80" height="80">
          %h3 Funeral

{{ 'twitter.js' | javascript_tag }}

{% endblock %}

{% block children %}
{% endblock %}