---
title: Home
published: true
handle: home
editable_elements:
  content/header/background: /samples/assets/home-bg.jpg
  content/header/subheading: Lorem ipsum
---
{% extends 'layouts/vision-statement' %}

{% block content/main %}
%section.sunday-services
  %div
    %h2.center Sunday Services
    %ul.center
      %li
        Weekly
        %ul
          {% with_scope regular: true, frequency: 'Weekly' %}
          {% for service in contents.services %}
          %li
            %a.btn.btn-outline{ href: "{% path_to service %}" }
              {{ service.time }}
          {% endfor %}
          {% endwith_scope %}

      %li
        Monthly
        %ul
          {% with_scope regular: true, frequency: 'Monthly' %}
          {% for service in contents.services %}
          %li
            %a.btn.btn-outline{ href: "{% path_to service %}" }
              {{ service.time }}
          {% endfor %}
          {% endwith_scope %}
    %p.center
      {% link_to services %}
      /.btn
      rest of week
      %span.arrow &#8964;
    {% endlink_to %}

%section.twitter
  %div
    %a.twitter-follow{ href: "https://twitter.com/intent/follow?screen_name=allsaintshoole", target: "_blank" }
      %h2
        %span.twitter-logo twitter
        %span.twitter-follow-text follow us
    {% consume tweetssource from "https://assets.allsaints.church/allsaintshoole-tweets.json", expires_in: '300' %}
    {% assign tweets = tweetssource %}
    {% endconsume %}
    {% for tweet in tweets %}
    .tweet
      %a{ class: "no-highlight", href: "https://twitter.com/statuses/{{ tweet.id_str | encode }}", target: "_blank" }
        %p
          {{ tweet.user.name | escape }}
          %small @{{ tweet.user.screen_name | escape }}
        %p {{ tweet.text }}
      %small
        %time {{ tweet.created_at | distance_of_time_in_words: now }} ago
        %a{ href: "https://twitter.com/intent/tweet?in_reply_to={{ tweet.id_str | encode }}", target: "_blank" }
          %span.hidden Reply
          %svg.reply{ xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 65 72" }
            <path d="M41 31h-9V19c0-1.14-.647-2.183-1.668-2.688-1.022-.507-2.243-.39-3.15.302l-21 16C5.438 33.18 5 34.064 5 35s.437 1.82 1.182 2.387l21 16c.533.405 1.174.613 1.82.613.453 0 .908-.103 1.33-.312C31.354 53.183 32 52.14 32 51V39h9c5.514 0 10 4.486 10 10 0 2.21 1.79 4 4 4s4-1.79 4-4c0-9.925-8.075-18-18-18z"/>
        %a{ href: "https://twitter.com/intent/retweet?tweet_id={{ tweet.id_str | encode }}", target: "_blank" }
          %span.hidden Retweet
          %svg.retweet{ xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 75 72" }
            <path d="M70.676 36.644C70.166 35.636 69.13 35 68 35h-7V19c0-2.21-1.79-4-4-4H34c-2.21 0-4 1.79-4 4s1.79 4 4 4h18c.552 0 .998.446 1 .998V35h-7c-1.13 0-2.165.636-2.676 1.644-.51 1.01-.412 2.22.257 3.13l11 15C55.148 55.545 56.046 56 57 56s1.855-.455 2.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40 48H22c-.54 0-.97-.427-.992-.96L21 36h7c1.13 0 2.166-.636 2.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854 15.455 17.956 15 17 15s-1.854.455-2.42 1.226l-11 15c-.667.912-.767 2.122-.255 3.13C3.835 35.365 4.87 36 6 36h7l.012 16.003c.002 2.208 1.792 3.997 4 3.997h22.99c2.208 0 4-1.79 4-4s-1.792-4-4-4z"/>
        %a.like{ href: "https://twitter.com/intent/like?tweet_id={{ tweet.id_str | encode }}", target: "_blank" }
          %span.hidden Like
          %svg{ xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 54 72" }
            <path d="M38.723,12c-7.187,0-11.16,7.306-11.723,8.131C26.437,19.306,22.504,12,15.277,12C8.791,12,3.533,18.163,3.533,24.647 C3.533,39.964,21.891,55.907,27,56c5.109-0.093,23.467-16.036,23.467-31.353C50.467,18.163,45.209,12,38.723,12z"/>
    {% endfor %}

%section.downloads
  %div
    %h2 Downloads
    .sermon.left
      {% link_to contents.sermons.last %}
      %h3 {{ contents.sermons.last.title | escape }}
      {% endlink_to %}
      {% link_to contents.sermons.last.series %}
      %small {{ contents.sermons.last.series.name | escape }}
      {% endlink_to %}
      %p {{ contents.sermons.last.person.name | escape }}
      %p {{ contents.sermons.last.bible_verse | escape }}
      %small
        %time {{ contents.sermons.last.date | distance_of_time_in_words: now }} ago
      %p
        %a.btn.btn-outline{ href: "{% path_to contents.sermons.last %}" }
          View sermon
        {% if contents.sermons.last.series.handbook.url %}
        %a.btn{ href: "{{ contents.sermons.last.series.handbook.url }}" }
          Series handbook
        {% endif %}
    .right.right-align
      %h3 Older
      .sermon
        {% with_scope order_by: 'date.desc' %}
        {% for sermon in contents.sermons reversed limit:1 offset:1 %}
        {% link_to sermon %}
        %h4 {{ sermon.title | escape }}
        {% endlink_to %}
        {% link_to sermon.series %}
        %small {{ sermon.series.name | escape }}
        {% endlink_to %}
        %p {{ sermon.person.name | escape }}
        %small
          %time {{ sermon.date | distance_of_time_in_words: now }} ago
        {% endfor %}
        {% endwith_scope %}
      %a.btn.btn-nosides{ href: "{% path_to sermons %}" }
        show all &gt;

%section.quick-links
  %div
    %h2 Quick Links
    %ul.icon-list
      %li
        %a{ href: "/baptism" }
          <img src="{{ 'icons/cross.svg' | theme_image_url }}" alt="Cross" width="80" height="80">
          %h3 Baptism
      %li
        %a{ href: "/wedding" }
          <img src="{{ 'icons/ring.svg' | theme_image_url }}" alt="Wedding ring" width="80" height="80">
          %h3 Wedding
      %li
        %a{ href: "/funeral" }
          <img src="{{ 'icons/grave.svg' | theme_image_url }}" alt="Gravestone" width="80" height="80">
          %h3 Funeral

{% endblock %}

{% block children %}
{% endblock %}