---
title: Default layout
is_layout: false
listed: false
published: false
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    {% if page.meta_description and page.meta_description != "" %}
    %meta{content: "{{ page.meta_description | truncate: 160 }}", name: "description"}
    {% elsif content_entry.teaser and content_entry.teaser != "" %}
    %meta{content: "{{ content_entry.teaser }}", name: "description"}
    {% endif %}
    %title
      {% if page.seo_title and page.seo_title != "" %}
      {{ page.seo_title | escape }}
      {% elsif page.title and page.title != "Home" and page.title != "Index" %}
      {{ page.title | escape }}
      |
      {% endif %}
      {{ site.name | escape }}

    %link{ rel: "apple-touch-icon", sizes: "180x180", href: "{{ 'apple-touch-icon.png' | theme_image_url }}" }
    %link{ rel: "icon", type: "image/png", href: "{{ 'favicon-32x32.png' | theme_image_url }}", sizes: "32x32" }
    %link{ rel: "icon", type: "image/png", href: "{{ 'favicon-16x16.png' | theme_image_url }}", sizes: "16x16" }
    %link{ rel: "mask-icon", href: "{{ 'safari-pinned-tab.svg' | theme_image_url }}", color: "#41abc9" }
    %meta{ name: "theme-color", content: "#444444" }

    {{ 'main.css' | stylesheet_tag }}

    {% block extrameta %}
    {% endblock %}

  %body
    {% include 'header' %}

    %main
      {% block content %}
      {% endblock %}

      {% block children %}
      {% if page.children.size > 0 %}
      .children
        %div
          {% nav page, depth: 1, active_class: 'active' %}
      {% endif %}
      {% endblock %}

    {% include 'footer' %}
    {% include 'analytics' %}
    %script
      document.getElementById("spinner-form4").onchange = toggleMenu;

      function toggleMenu(){
      document.getElementsByTagName('nav')[0].classList.toggle("visible");
      }