---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}      
%section.image{ style: "background-image: url({{ 'banner.jpg' | theme_image_url }}); background-position: center; background-size: cover;"}
  %div
    %img{src: "{{ 'vision-statement.svg' | theme_image_url }}", alt: "Live like Jesus, with Jesus and for Jesus"}
{% block main, short_name: true %}
%p Edit the theme file to include a content/main block
{% endblock %}
{% endblock %}