---
title: Useful links

# true if the page is included in the menu
listed: true

# true if the page is published
published: false

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# other unique identifier of this page. To be used with the path_to liquid tag.
handle: useful-links

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

editable_elements:
  content/main/body: <p>The latest messages from All Saints</p>
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block content %}

%h1 Useful Links
%p Here are some links to websites that you may find useful:

%p <a href="http://www.alphafriends.org/" target="\&quot;_blank\&quot;">Alpha</a>
%p <a href="http://www.theb-ittheatrecompany.com/" target="\&quot;_blank\&quot;">B-it Theatre Company</a>
%p <a href="http://www.bishopsbluecoat.cheshire.sch.uk/" target="\&quot;_blank\&quot;">Bishops’ Blue Coat High School</a>
%p <a href="http://www.biblegateway.com/" target="\&quot;_blank\&quot;">Bible Gateway</a>
%p <a href="http://www.careforthefamily.org.uk/" target="\&quot;_blank\&quot;">Care for the Family</a>
%p <a href="http://www.chesterbiblefocus.org.uk/" target="\&quot;_blank\&quot;">Chester Bible Focus</a>
%p <a href="http://www.chester.anglican.org/" target="\&quot;_blank\&quot;">Chester Diocese</a>
%p <a href="http://www.cscw.org.uk/" target="\&quot;_blank\&quot;">Chester Schools’ Christian Work</a>
%p <a href="http://www.england.anglican.org/" target="\&quot;_blank\&quot;">Church of England</a>
%p <a href="http://www.cpas.org.uk/" target="\&quot;_blank\&quot;">Church Pastoral Aid Society</a>
%p <a href="http://www.yourchurchwedding.org/default.aspx" target="\&quot;_blank\&quot;">Church Wedding</a>
%p <a href="http://www.cms-uk.org/" target="\&quot;_blank\&quot;">CMS</a>
%p <a href="http://www.clubwebsite.co.uk/crosswayfc/" target="\&quot;_blank\&quot;">Crossway</a>
%p <a href="http://www.eden.co.uk/" target="\&quot;_blank\&quot;">Eden Christian Bookshop</a>
%p <a href="http://www.thegoodbook.co.uk/" target="\&quot;_blank\&quot;">Good Book Company</a>
%p <a href="http://hoole.cheshire.dbprimary.com/cheshire/primary/hoole" target="\&quot;_blank\&quot;">Hoole CE Primary School</a>
%p <a href="http://www.interserve.org.uk/" target="\&quot;_blank\&quot;">Interserve</a>
%p <a href="http://isabellatheatre.co/" target="\&quot;_blank\&quot;">Isabella Theatre Co.</a>
%p <a href="http://www.ivpbooks.com/" target="\&quot;_blank\&quot;">IVP Books</a>
%p <a href="http://www.keswickministries.org/" target="\&quot;_blank\&quot;">Keswick Convention</a>
%p <a href="http://www.lightproject.org.uk/" target="\&quot;_blank\&quot;">Light Project</a>
%p <a href="http://www.licc.org.uk/" target="\&quot;_blank\&quot;">London Institute for Contemporary Christianity</a>
%p <a href="http://www.messychurch.org.uk/">Messy Church</a>
%p <a href="http://www.springharvest.org/" target="\&quot;_blank\&quot;">Spring Harvest</a>
%p <a href="http://chester.streetpastors.org.uk/">Chester Street Pastors</a>
%p <a href="http://www.tearfund.org/" target="\&quot;_blank\&quot;">Tearfund</a>
%p <a href="http://www.uccf.org.uk/" target="\&quot;_blank\&quot;">UCCF</a>
%p <a href="http://www.wholetthedadsout.org/" target="\&quot;_blank\&quot;">Who Let The Dads Outs</a>

%h1 Link Up Network of Churches
%p The Link Up group of churches in Chester and North Wales work and pray together, if you would like to learn more about Link Up then please click <a href="\&quot;http://www.linkup.uk.net/\&quot;">here</a>.
%p This is a list of the Link Up members and links to their websites:
%p <a href="http://www.allsaintshoole.org/">All Saints, Hoole</a>
%p <a href="http://www.kingswaychapel.org.uk/" target="\&quot;_blank\&quot;">Kingsway Chapel</a>
%p <a href="http://www.hbc.org.uk/" target="\&quot;_blank\&quot;">Hoole Baptist</a>
%p <a href="http://mscch.org/index.php" target="\&quot;_blank\&quot;">Main St. Community Church, Frodsham</a>
%p <a href="http://www.gloryfires.org/" target="\&quot;_blank\&quot;">New Life Blacon Community Church</a>
%p <a href="http://www.northgate.org.uk/" target="\&quot;_blank\&quot;">Northgate Church</a>
%p <a href="http://www.stmarkssaltney.org.uk/" target="\&quot;_blank\&quot;">St. Mark's Saltney</a>
%p <a href="http://stmichaelschester.com/" target="\&quot;_blank\&quot;">St. Michael's C of E</a>
%p <a href="http://www.stpaulschester.org.uk/" target="\&quot;_blank\&quot;">St. Paul's C of E</a>
%p <a href="http://www.qsccchester.org.uk/" target="\&quot;_blank\&quot;">Queen Street Christian Centre</a>
%p <a href="http://www.theconnectionchurch.co.uk/" target="\&quot;_blank\&quot;">The Connection Church, Northwich</a>
%p <a href="http://www.storehousechurch.org.uk/" target="\&quot;_blank\&quot;">The Storehouse Church</a>
%p <a href="http://www.vicarscrossurc.org.uk/" target="\&quot;_blank\&quot;">Vicars Cross URC</a>
%p <a href="http://www.wefchurch.net/" target="\&quot;_blank\&quot;">Waverton Evangelical Fellowship</a>
%p <a href="http://www.wesleychester.co.uk/" target="\&quot;_blank\&quot;">Wesley Methodist Church</a>


{% endblock %}