---
title: Bookings
listed: true
published: true
position: 2
editable_elements:
  content/body: "<p>\r\n</p><p>\r\n\tYou can check room availability through our <a
    href=\"http://allst.ch/bookings\" title=\"Link: http://allst.ch/bookings\">online
    bookings system</a>.</p>\r\n<p>\r\n\tFor further information or to hire a room
    please <a href=\"/contact\">contact our Centre Manager</a></p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Bookings
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
