---
title: Bookings
listed: true
published: true
position: 2
editable_elements:
  content/body: "<a rel=\"nofollow\" href=\"http://allst.ch/bookings\" title=\"Link:
    http://allst.ch/bookings\" class=\"btn btn-outline\">Check Availability Online</a>\r\n<p>\r\n\tFor
    further information or to hire a room please <a rel=\"nofollow\" href=\"/contact\">contact
    our Centre Manager</a></p>"
---
{% extends parent %}

{% block content %}

%section
  %div
    %h2 Bookings
    {% editable_text body %}
    {% endeditable_text %}

{% endblock %}
